# @package _global_

runner:
  train_eval_unit:
    lr_scheduler_fn:
      _target_: fairchem.core.units.mlip_unit.mlip_unit._get_consine_lr_scheduler
      _partial_: true
      warmup_factor: 0.2
      warmup_epochs: 0.01
      lr_min_factor: 0.01
      epochs: ${runner.max_epochs}
      steps: ${runner.max_steps}